@import "../../theme.scss";

.facebookProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;

  h2 {
    font-size: $f-6;
    letter-spacing: $px-4;
  }
  h3 {
    font-size: $f-5;
  }
  h5 {
    font-size: $f-3;
  }
  h6 {
    font-size: $f-2;
  }
}

.flexGroupTop {
  background-color: $secondary-2;
  border-radius: $px-3 $px-3 0 0;
  margin-top: $px-6;
  padding: $px-0 $px-5;

  .title {
    color: $primary-6;
  }
}

.flexGroupMiddle {
  background-color: $blue-5;
  margin-top: $px-4;
  padding: $px-5;
}

.flexGroupMiddleSearch {
  background-color: $blue-5;
  margin-top: $px-4;
  margin-bottom: $px-9;
  padding: $px-5;
}

.flexGroupBottom {
  background-color: $cool-gray-1;
  border-radius: 0 0 $px-3 $px-3;
  margin-top: $px-6;
  margin-bottom: $px-9;
  padding: $px-0 $px-5;
  flex-direction: row-reverse;
}

.picture {
  border-radius: 2px;
  display: block;
  float: left;
  margin: 0.25em auto;
  max-height: 300px;
  width: 200px;
}

.info {
  color: $blue-0;
  width: 400px;
}
