.professorTables {
  font-family: "Nunito", sans-serif;

  thead tr {
    background: #4b3081;
    color: white;
    font-weight: 400;
  }

  th {
    font-weight: 200;
    font-family: "Nunito", sans-serif;
    height: 25px;
    padding: 8px;
    text-align: justify;
    padding-left: 30px;
  }

  td {
    border-bottom: 2px solid #c1c7c9;
    height: 30px;
    padding: 10px;
    background-color: #f6f6f6;
  }

  table {
    border-collapse: collapse;
  }
}

.factrakDepartments {
  justify-content: center;

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 5px;
    color: #45528d;
  }
}

.tableRow {
  text-align: justify;
  margin-top: 10px;
}

.title {
  border-bottom: 2px solid #c1c7c9;
  border-left: 2px solid #c1c7c9;
  border-right: 2px solid #c1c7c9;
}

.courseTitle {
  border-right: 2px solid #c1c7c9;
}
