@import "../../../theme";

.professorTables {
  font-family: $default-font;

  thead tr {
    background: $primary-6;
    color: white;
    font-weight: 400;
  }

  th {
    font-weight: 200;
    font-family: $default-font;
    height: 25px;
    padding: $px-3;
    text-align: justify;
    padding-left: 30px;
  }

  td {
    border-bottom: 2px solid $cool-gray-4;
    height: 30px;
    padding: 10px;
    background-color: $cool-gray-1;
  }

  table {
    border-collapse: collapse;
  }
}

.factrakDepartments {
  justify-content: center;

  h3 {
    font-size: $f-4;
    font-weight: 600;
    margin: 5px;
    color: $blue-5;
  }
}

.tableRow {
  text-align: justify;
  margin-top: 10px;
}

.title {
  border-bottom: 2px solid $cool-gray-4;
  border-left: 2px solid $cool-gray-4;
  border-right: 2px solid $cool-gray-4;
}

.courseTitle {
  border-right: 2px solid $cool-gray-4;
}

.mainPage {
  width: 70%;
  justify-content: center;
}
