@import "../../theme.scss";

body {
  font-family: $default-font;
  font-size: $base-font-size;
}

.facebook {
  h1 {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-size: $f-6;
  }
}

.options {
  width: 100%;
  text-align: center;
}

.search {
  width: 100%;
  text-align: center;
}
