@import "../../../theme.scss";

.facebook {
  h1 {
    color: $primary-6;
    font-size: $f-8;
    font-weight: bold;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 50%;
  }

  padding-top: 25vh;
}

.options {
  color: $blue-3;
  text-align: center;
}

.search {
  align-items: center;
  display: flex;
  justify-content: center;
}

.formControlLayout {
  height: 40px;
  max-width: 575px;
  width: 100%;
}

.search input {
  background-color: $cool-gray-0;
  border-radius: $px-3;
  border: 2px solid $cool-gray-3;
  height: 35px;
  padding-left: 35px;
  width: 575px;
}
