@import "../../theme.scss";

body {
  font-family: $default-font;
  font-size: $base-font-size;
}

.facebook {
  h1 {
    color: $primary-6;
    font-size: $f-8;
    font-weight: bold;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 50%;
  }
}

.options {
  color: $blue-3;
  text-align: center;
}

.search {
  text-align: center;
}

.search input {
  background-color: $cool-gray-0;
  border: 2px solid $cool-gray-3;
  border-radius: 5px;
  padding-left: 40px;
  height: 35px;
  width: 650px;
}
