@import "../../theme";

.facebookProfile {
  font-family: $default-font;

  h3 {
    font-size: $f-4;
    font-weight: 600;
    margin: $px-4 0;
  }

  button {
    background-color: $primary-6;
    color: white;
  }
}

.ratingsBar {
  width: 100%;
  background-color: $primary-1;
  align-items: center;
}

.professorPhoto {
  background: $warm-gray-3;
  border-radius: 50%;
  height: $px-10 + $px-6;
  width: $px-10 + $px-6;
}

.professorText {
  justify-content: center;
}

.circle {
  align-items: center;
}

.professorHeader {
  margin: $px-4 0;
}

.reviews {
  width: 70%;

  button {
    background-color: white;
    color: black;
  }
}

.professorReview {
  border-bottom: 2px solid $warm-gray-3;
  padding: 1% 10%;
  padding-top: 2%;
}
