@import "../../../theme";

.facebookProfile {
  font-family: $default-font;
  margin-bottom: $px-7;

  h3 {
    font-size: $f-4;
    margin: $px-4 0;
    color: $blue-5;
  }

  h5 {
    color: $blue-5;
    font-size: $f-2;
    font-weight: 300;
    margin-bottom: $px-3;
  }

  h6 {
    color: $blue-5;
    font-size: $f-1;
    line-height: $px-5;
    font-weight: 300;
  }
}

.ratingsBar {
  width: 100%;
  background-color: $cool-gray-1;
}

.professorPhoto {
  background: $warm-gray-3;
  border-radius: 50%;
  height: $px-10;
  width: $px-10;
  margin-right: none;
}

.professorText {
  justify-content: center;
}

.circle {
  //align-items: center;
}

.reviews {
  width: 60%;

  button {
    background-color: white;
    color: black;
  }
}

.reviewCount {
  font-size: $f-4;
  justify-content: center;
  color: $new-3;
}

.professorHeader {
  width: 100%;
}
