@-webkit-keyframes ephmatch {
  0% {
    color: #fff;
  }
  50% {
    color: #111;
  }
  100% {
    color: #fff;
  }
}

@keyframes ephmatch {
  0% {
    color: #fff;
  }
  50% {
    color: #111;
  }
  100% {
    color: #fff;
  }
}

.ephmatch-link {
  animation: ephmatch 2s;
  animation-iteration-count: 3;
  -webkit-animation: ephmatch 2s;
  -webkit-animation-iteration-count: 3;
}

.match-message {
  padding: 10px;
  border: 2px dashed purple;
  background: papayawhip;
  margin-top: 10px;
}

.ephmatch-sample-profile {
  width: 50%;
  margin: 30px auto;
  min-width: 320px;
}

.ephmatch-results {
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 0.5fr));
  grid-gap: 10px;
  display: grid;
  justify-content: center;
}
