@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.floatingButtonLink {
  background: #6f4399;
  color: #fff;
  padding: 0.5rem 2rem;
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 40px;
  right: 40px;
  border-radius: 35px;
  line-height: 64px;
  box-shadow: 0 6px 10px #888;
  z-index: 100;
}
