@import "../../theme";

.searchTable {
  font-family: $default-font;

  thead tr {
    background: $primary-6;
    color: white;
    font-weight: 400;
  }

  th {
    font-weight: 200;
    font-family: $default-font;
    height: 25px;
    padding: 8px;
    text-align: justify;
    padding-left: 30px;
  }

  td {
    border-bottom: 2px solid $cool-gray-4;
    height: 30px;
    padding: 10px;
    background-color: $cool-gray-1;
  }

  table {
    border-collapse: collapse;
  }
}

.tableRow {
  text-align: center;
  margin-top: 10px;
}

.unix {
  border-bottom: 2px solid $cool-gray-4;
  border-left: 2px solid $cool-gray-4;
  border-right: 2px solid $cool-gray-4;
}

.course {
  border-right: 2px solid $cool-gray-4;
}
