@import "../../theme.scss";

.results {
  color: $blue-3;
}

.flexGrid {
  margin-bottom: $px-6;
}

.info {
  color: $blue-0;
  border-radius: $px-3;
}

.gridWrap {
  margin-left: $px-11;
  margin-right: $px-9;
  padding: $px-5;
}
