@import "../../theme.scss";

body {
  font-family: $default-font;
  font-size: $base-font-size;
}

.results {
  color: $blue-3;
}

.flexGrid {
  padding: $px-4;
}

.info {
  color: $blue-0;
  border-radius: $px-3;
}

.gridWrap {
  padding: $px-5;
}
