.course-edit-container {
  margin: 15px;
  margin-left: 0px;
  padding-left: 0px !important;
  display: flex;
  flex-direction: column;
}

.course-edit-search-container {
  display: flex;
  flex-direction: row;
}

.input-container {
  position: relative;
  border: solid 2px var(--color-booktrak-search-input-border);
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  color: var(--color-booktrak-search-input-fg);
  display: flex;
  flex-grow: 1;

  .input {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    display: inline;
    border: none !important;
  }
}

.course-suggestions {
  position: absolute;
  color: var(--color-booktrak-course-suggestions-fg);
  cursor: pointer;
  width: 100%;
  border: 2px solid var(--color-booktrak-course-suggestions-border);
  z-index: 999 !important;
  left: 0px;
  top: 14px;

  *:not(:first-child) {
    border-top: 2px solid #d9d9d9 !important;
  }
}

.course-suggestion-option {
  background: none;
  color: var(--color-booktrak-course-suggestions-option-fg);
  padding: 0;
  min-width: 0;
  white-space: normal;
  text-align: left;
}

.course-container {
  display: flex;
  flex-direction: row;
  gap: 10px;

  .course {
    position: relative;
    border: solid 2px var(--color-booktrak-course-container-bg);
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px 5px 0px;
    color: var(--color-booktrak-course-container-fg);
    display: inline-block;
  }
}

.remove-course {
  display: inline;
  padding: 0px 5px 0px 5px;
  margin: 0px;
  background: var(--color-booktrak-container-remove-course-button-bg);
  color: var(--color-booktrak-container-remove-course-button-fg);
  min-width: 0px;
}
