.bulletin-title {
  text-align: center;
  /*APRIL FOOL'S*/
  /*   background: linear-gradient(
    to left,
    #fea3aa,
    #f8b88b,
    #faf884,
    #baed91,
    #b2cefe,
    #f2a2e8
  ); */
  /*STANDARD*/
  background: var(--color-bulletin-title-background);
  padding: 1rem 0.5rem;
  border-bottom: 2px solid var(--color-bulletin-title-bottom-border);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.bulletin-link {
  /*APRIL FOOL'S*/
  /* color: #20012e; */
  /*STANDARD*/
  color: var(--color-bulletin-link);
  font-weight: bold;
  font-size: 1.25em;
}

.bulletin-children {
  padding: 1em;
  box-shadow: inset 2px -2px 0 #d9d9d9, inset -2px 0 0 #d9d9d9;
  display: grid;
  grid-template-columns: 7fr 3fr;
}

.thread-link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-date {
  display: block;
  background: var(--color-bulletin-list-date-bg);
  padding-left: 5px;
  font-variant: small-caps;
  font-weight: bold;
  color: var(--color-bulletin-list-date-fg);
  /*APRIL FOOL'S*/
  /*   font-size: 0.8em; */
  /*STANDARD*/
  font-size: 0.9em;
  text-align: center;
}

.bulletin {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
}

.bulletin-children-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  font-size: 2em;
}

.markdown-content ol {
  list-style-type: decimal;
  padding-left: 1em;
}

.markdown-content ul {
  list-style-type: disc;
  padding-left: 1em;
}
