.course {
  margin-top: 0px;
  margin-left: auto;
  margin-bottom: 20px;
  margin-right: auto;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
  box-sizing: border-box;
  background-color: var(--color-course-bg);
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
  max-width: 850px;
  position: relative; /* added to accomodate factrak ratings and tooltip */
}

.course:hover {
  box-shadow: 0px 0px 10px var(--color-course-hover);
}

.course:hover .click-expand-message i {
  display: inline-block;
}

.course-buttons span {
  padding-left: 15px;
}

.course button {
  background-color: var(--color-course-button-bg);
  color: var(--color-course-button-fg);
  border-radius: 10px;
  width: 20%;
  min-width: 200px;
  padding: 5px 10px;
  border: none;
  display: inline-flex;
  line-height: 24px;
  vertical-align: middle;
  justify-content: center;
  margin-right: 20px;
}

.course-buttons {
  padding: 0 30px 20px 30px;
  text-align: right;
  margin-right: 0;
}

.course-title {
  font-size: 24px;
  font-weight: 600;
  flex: 9.2;
  padding: 30px 45px 10px 0px;
  box-sizing: border-box;
  border-bottom: 2px solid var(--color-course-title-border);
}

.title {
  padding-bottom: 10px;
}
.ra {
  text-align: right;
}

.header-info {
  color: var(--color-course-header-info);
  font-size: 16px;
  text-transform: capitalize;
}

.course-title:hover {
  box-shadow: none;
}

.course-summary {
  padding: 10px 0px 15px 0px;
  box-sizing: border-box;
}

.course-body {
  cursor: text;
  padding: 0 30px 30px 30px;
}

.course-header {
  padding: 0 30px;
}

.course-body:hover {
  box-shadow: none;
}

.course a {
  color: var(--color-course-a);
}

.added-course {
  background-color: var(--color-course-added-course);
}

.d1 {
  background-color: var(--color-course-divs);
}
.d2 {
  background-color: var(--color-course-divs);
}
.d3 {
  background-color: var(--color-course-divs);
}
.wi {
  background-color: var(--color-course-reqs);
}
.qfr {
  background-color: var(--color-course-reqs);
}
.dpe {
  background-color: var(--color-course-reqs);
}

.dreq {
  width: 18px;
  line-height: 18px;
  display: inline-block;
  overflow: hidden;
  font-size: 12px;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  color: var(--color-course-divreqs-a);
  font-style: normal;
  margin: 0 2px 0 2px;
}

.dis-icons {
  text-align: left;
}

.course .column .row {
  line-height: 25px;
}

.click-expand-message {
  text-align: center;
  margin: 2px auto;
  line-height: 24px;
  height: 24px;
  font-size: 24px;
}

.click-expand-message i {
  display: none;
}

.click-expand-message span {
  line-height: 24px;
}

.no-url {
  cursor: default;
}

.no-url:hover {
  transition: none;
  opacity: 1;
}

.factrak-rating {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  background-color: var(--color-course-factrak-rating-bg);
  color: var(--color-course-factrak-rating-fg);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  z-index: 9;
}

.factrak-rating:hover {
  background-color: var(--color-course-factrak-rating-hover);
}

.rating-tooltip {
  position: absolute;
  top: 45px;
  right: 0;
  background-color: var(--color-course-rating-tooltip-bg);
  color: var(--color-course-rating-tooltip-fg);
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.rating-tooltip:after {
  content: "";
  position: absolute;
  top: -5px;
  right: 15px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--color-course-rating-tooltip-bg);
}
