.dash-body {
  padding-top: 5vh;
}

#dash-hot {
  background-color: #553871;
  color: white;
  border: 1px solid #553871;
}

#dash-cold {
  background-color: white;
  color: #553871;
  border: 1px solid #553871;
}

.feature-lab {
  text-align: center;
  color: #553871;
}

.dash-section {
  text-align: center;
  margin-bottom: 1vw;
}

.dash-button-container {
  margin-top: 2vw;
  position: relative;
  left: 2.5%;
  width: 25vw;
  height: 60vh;
  border: 1px solid #553871;
  border-radius: 1vw;
  padding: 1vw;
  overflow: scroll;
}

.dash-button {
  margin-bottom: 1vw;
  margin-right: 1.4vw;
  margin-left: 1.4vw;
  text-align: center;

  font-size: 0.8vw; /* Set initial font size using vw unit */
  width: 5vw;
}

.dash-flag {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;

  border: 1px solid #dddddd;
  border-radius: 1vw;
}
