.icon-color {
  color: var(--color-ephmatch-icon);
}

.message-icon {
  color: var(--color-ephmatch-icon);
  vertical-align: middle;
}

.circle-button {
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 6em;
  height: 6em;
  min-width: 4em;
  min-height: 4em;
}
