.notification {
  width: 600px;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
  background-color: var(--color-notification-bg);
  margin-top: 25px;
  padding-top: 25px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

.notification .row {
  margin: 10px auto;
  padding: 5px 40px;
}

.notification-title {
  font-weight: 600;
}

.notification-ack {
  border-top: 1px solid var(--color-notification-ack-border);
  width: 100%;
  justify-content: flex-end;
  background-color: var(--color-notification-ack-bg);
  margin-top: 20px;
}

.notification button {
  background-color: inherit;
  margin-right: 0;
  color: var(--color-notification-button);
  padding: 10px 0;
}
