@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.sub-menu-column {
  min-width: 120px;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1.4;
}

.app {
  background-color: hsla(210, 30%, 93%);
}

button {
  cursor: pointer;
}

.app-header {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
}

.overflow-hidden {
  overflow: hidden;
}
