.day-horizontal {
  line-height: 100px;
  min-height: 1em;
  display: flex;
  max-width: 1300px;
  border: 0.5px solid var(--color-schedule-day-horizontal-border);
  margin: 0 auto;
}

.day-vertical {
  display: flex;
  width: 120px;
}

.hour-title-horizontal {
  width: 80px;
  display: inline-block;
  font-weight: 600;
}

.hour-title-vertical {
  height: 70px;
  font-weight: 600;
  min-width: 50px;
}

.hour-labels-horizontal {
  height: 20px;
  display: block;
  max-width: 1300px;
  border: none;
  margin: 5px auto;
}

.hour-labels-vertical {
  height: 200%;
  max-height: 1000px;
  border: none;
  margin-bottom: 5px;
  flex: 0 1;
  padding-right: 10px;
  min-width: 50px;
}

.schedule-horizontal {
  overflow-x: auto;
  overflow-y: hidden;
  margin: 50px auto;
  padding-bottom: 20px;
}

.schedule-vertical {
  overflow: hidden;
  margin: 50px auto;
  padding-bottom: 20px;
  max-height: 1000px;
  max-width: 630px;
}

.day-title-horizontal {
  display: inline-block;
  width: 50px;
  text-align: center;
  border: 0.5px solid var(--color-schedule-day-horizontal-border);
}

.day-title-horizontal span {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  font-weight: 700;
}

.day-title-vertical {
  display: inline-block;
  height: 30px;
  text-align: center;
  border: 0.5px solid var(--color-schedule-day-vertical-border);
}

.day-title-vertical span {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  font-weight: 700;
}

.course-slot {
  box-sizing: border-box;
  position: absolute;
  background-color: var(--color-schedule-course-slot-bg);
  display: inline-block;
  border-bottom: 3px solid var(--color-schedule-course-slot-border);
  border-right: 2px solid var(--color-schedule-course-slot-border);
  height: 90px;
  padding: 2px 0px 4px 4px;
  margin-bottom: 3px;
  border-radius: 4px;
}

.course-slot div {
  font-size: 13px;
  line-height: 13px;
}

.course-slot-title {
  font-weight: 700;
}

.course-containers-horizontal {
  height: 100px;
}

.course-day-horizontal {
  border: 0.5px solid var(--color-schedule-day-horizontal-border);
  position: relative;
  min-height: 70px;
  overflow: hidden;
}

.course-day-vertical {
  border: 0.5px solid var(--color-schedule-day-vertical-border);
  position: relative;
  min-width: 70px;
  overflow: hidden;
}

.buffer-horizontal {
  width: 40px;
  display: inline-block;
}

.buffer-vertical {
  height: 2.3%;
}

.days-container-vertical {
  border: 0.5px solid var(--color-schedule-day-vertical-border);
}

.day-container-vertical {
  height: 100%;
}

.hour-in-days-horizontal {
  background: var(--color-schedule-hour-horizontal-even-border);
  width: 80px;
  height: 100%;
}

.hour-in-days-horizontal-odd {
  background: var(--color-schedule-hour-horizontal-odd-border);
  width: 80px;
  height: 100%;
}

.hour-in-days-vertical {
  background: var(--color-schedule-hour-vertical-even-border);
  height: 70px;
  min-height: 70px;
  width: 100%;
}

.hour-in-days-vertical-odd {
  background: var(--color-schedule-hour-vertical-odd-border);
  height: 70px;
  min-height: 70px;
  width: 100%;
}
