.submenu ul {
  list-style: none;
  padding-left: 0;
}

.submenu ul li:hover {
  cursor: pointer;
  background-color: var(--color-submenu-hover-bg);
  color: var(--color-submenu-hover-fg);
}

.list-item img {
  display: block;
  margin: auto;
}

.list-item {
  text-align: center;
  margin-bottom: 10px;
  border-right: 5px solid var(--color-submenu-list-item-border);
  background-color: var(--color-submenu-list-item-bg);
  color: var(--color-submenu-list-item-fg);
}

.list-item div {
  padding-top: 20px;
  padding-bottom: 20px;
}

.list-item div div {
  padding: 0;
}

.submenu {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  height: 1200px;
  color: var(--color-submenu);
  box-shadow: 1px -1px 3px hsla(0, 0%, 0%, 0.2);
  background-color: var(--color-submenu-bg);
  width: 120px;
}

.submenu-container {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}

.unselected {
  color: var(--color-submenu-unselected-fg);
  border-right: 5px solid var(--color-submenu-unselected-border);
  background-color: var(--color-submenu-unselected-bg);
}
