.added-courses {
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
}

.added-sort {
  float: right;
  font-weight: 400;
  font-size: 16px;
}

.sort-select {
  display: inline;
  margin: 5px 0px 5px 20px;
  padding: 4px;
}

.help-header {
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
}

.timetable-header {
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
  /*APRIL FOOL'S*/
  /*   color: #20012e; */
  /*STANDARD*/
  color: var(--color-timetable-header);
  vertical-align: middle;
}

.timetable-header button {
  background-color: var(--color-timetable-header-button-bg);
  /*APRIL FOOL'S*/
  /*   color: #20012e; */
  /*STANDARD*/
  color: var(--color-timetable-header-button-fg);
  display: inline-block;
}

.timetable-header span {
  margin: auto;
}

.unselectable {
  cursor: not-allowed;
  background-color: var(--color-timetable-unselectable-bg);
  color: var(--color-timetable-unselectable-fg);
}

.unselectable:hover {
  cursor: not-allowed;
}

.export-options {
  padding: 0 30px;
  text-align: center;
  margin-bottom: 20px;
}

.export-options button {
  width: 20%;
  min-width: 200px;
  background-color: var(--color-timetable-export-bg);
  color: var(--color-timetable-export-fg);
  border-radius: 10px;
  width: 20%;
  min-width: 200px;
  padding: 5px 10px;
  border: none;
  display: inline-flex;
  line-height: 24px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
}

.export-options button span {
  padding-left: 15px;
}

.timetable {
  background-color: var(--color-timetable-bg);
  padding: 50px;
  height: 100%;
  margin: 50px;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
  width: 100%;
  overflow: hidden;
}

.course-warnings {
  background-color: var(--color-timetable-course-warning-bg);
  border-top: 5px solid var(--color-timetable-course-warning-top);
  padding: 20px;
}

.course-warnings ol {
  list-style-type: decimal;
  padding-left: 30px;
}

.course-warnings-header {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.change-semester-button:disabled {
  /*APRIL FOOL'S*/
  /*   background: linear-gradient(
    to left,
    #fea3aa,
    #f8b88b,
    #faf884,
    #baed91,
    #b2cefe,
    #f2a2e8
  ); */
  /*STANDARD*/
  background: none;
}
