.agreeCount {
  border-radius: 15px;
}

.surveyText {
  font-family: "Nunito", sans-serif;
  color: #555f61;
  line-height: 1.2rem;
}

.seeMore {
  font-size: 0.9rem;
  color: #8c979a;
}

.commentHeader {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.commentContent {
  margin-left: 15px;
}

.commentDetail {
  font-size: 0.8rem;
  color: #c1c7c9;
  font-style: italic;
  margin-top: 10px;
}
