@import "../../../theme.scss";

.facebook {
  h1 {
    color: $primary-6;
    font-size: $f-6;
    font-weight: bold;
    margin: $px-0;
    padding: $px-4;
    vertical-align: top;
  }

  display: flex;
  flex-direction: row;
  margin: $px-5;
}

.title {
  align-items: center;
  display: flex;
  justify-content: center;
}

.options {
  color: $blue-3;
  justify-content: left;
}

.search {
  align-items: center;
  display: flex;
  justify-content: center;
}

.formControlLayout {
  height: 40px;
  max-width: $px-14;
  width: 100%;
}

.search input {
  background-color: $cool-gray-0;
  border-radius: $px-3;
  border: $px-1 solid $cool-gray-3;
  height: 35px;
  padding-left: 35px;
  padding-right: 5px;
  width: $px-14;
}
