@import "../../../theme.scss";

.page {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.pageContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: $lg;
  align-items: center;
}

.title {
  font-size: $f-8;
  color: $primary-6;
  text-align: center;
  font-weight: 700;
  margin: $px-6;
}

.navLink {
  margin-right: $px-5;
  color: $primary-4;
}

.activeNavLink {
  margin-right: $px-5;
  color: $primary-5;
  border-bottom: $px-1 solid $primary-5;
}

.pageHeader {
  display: flex;
  justify-content: center;
  color: $primary-6;
  padding-bottom: $px-2;
  border-bottom: 1px $cool-gray-3 solid;
}

.pageHead {
  max-width: $lg;
  flex-grow: 1;
  padding-top: $px-7;
}

.navLinks {
  text-align: center;
}
