@import "../../theme";

.factrak {
  margin: 0 15%;
  font-family: $default-font;

  h3 {
    text-align: justify;
    font-size: $f-4;
    font-weight: 600;
    margin: 5px;
    color: $blue-5;
  }

  li {
    text-align: justify;
    color: $blue-5;
  }

  ul {
    padding: 0 10%;
  }
}

.square {
  background: $warm-gray-3;
  height: 33px;
  width: 33px;
}

.departmentCard {
  border: 2px solid $warm-gray-3;
  padding: 0;
  border-radius: 5px;
  margin-top: 16px;
}

.factrakComment {
  margin: 10px;
}

.factrakWriteReview {
  background-color: $primary-6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $base-font-size;
  border-radius: 5px;
  margin-bottom: 5%;
}

hr {
  height: 2px;
}
