@import "../../theme";

/****** Main Page Styling *********/

.factrak {
  margin: 0 270px;
  font-family: $default-font;

  h3 {
    text-align: justify;
    font-size: $f-5;
    font-weight: 600;
    color: $blue-5;
    margin-bottom: $px-3;
    margin-top: $px-2;
  }
}

/****** Department Section *********/

.departmentCard {
  background: $cool-gray-0;
  box-shadow: 0 $px-2 $px-3 rgba(0, 0, 0, 0.15);
  padding: $px-4 0 $px-5 $px-6;
}

.depTitle {
  font-size: $f-2;
  color: $blue-5;
  font-weight: 600;
  margin-top: $px-3;
  margin-bottom: $px-3;
  margin: $px-3 0;
}

.depListItem {
  color: $primary-4;
  font-size: $f-0;
  font-weight: normal;
}
