@import "../../../theme.scss";

.flexGroup {
  margin: $px-0;
}

.gridPicture {
  border-radius: $f-3 0 0 $f-3;
  display: block;
  float: left;
  min-height: 170px;
}

.gridInfo {
  background-color: $blue-5;
  border-radius: 0 $f-3 $f-3 0;
  color: $blue-0;
  max-width: 200px;
  min-height: 170px;
  padding: $px-5;

  h4 {
    font-size: $f-2;
  }
  ul {
    font-size: $f-1;
  }
}
