@import "../../../theme";

.container {
  display: flex;
  justify-content: center;
  width: 90%;
}

h3 {
  color: $blue-5;
  font-size: $f-4;
  line-height: 33px;
}

@media (max-width: $md) {
  .container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .rankings {
    margin-left: auto;
    margin-right: auto;
  }
}
