@import "../../theme";

.pageHead {
  font-family: $default-font;

  h1 {
    font-size: $f-6;
    margin: 2.5rem 2rem;
    font-weight: 700;
    color: $primary-6;
  }
}

.searchBar {
  border-radius: 5px;
  margin-top: 2.5rem;
}

.factrakText {
  font-size: $f-0;
  color: $blue-3;
  margin-bottom: 2%;
}

.search {
  border-radius: 5px;
}
.lineBreak {
  margin-bottom: 1%;
  border-top: 2px solid $warm-gray-3;
}
