@import "../../../theme.scss";

.bulletinTitleDiv {
  text-align: center;
  background: $blue-5;
  padding: 1rem 0.5rem;
  border-bottom: 2px solid #d9d9d9;
  border-radius: 10px 10px 0 0;
  margin-bottom: $px-4;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
}

.bulletinChild,
.bulletinActiveChild {
  padding: 0 1em;
  display: grid;
  color: $primary-4;
  margin: $px-3 0;
}

.threadLink {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: $px-3;
}

.bulletin {
  border-radius: 10px;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
  margin-bottom: $px-5;
}

.bulletinActiveChild {
  border-left: $new-0 solid $px-2;
}

.seeAll {
  text-align: center;
  font-weight: 600;
  font-size: $f-3;
  color: $primary-6;
  padding: $px-4 0;
}
