@import "../../../theme.scss";

.footer {
  height: $px-13;
  background-color: $primary-7;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    max-width: $lg;
    width: 100%;
  }
}

.socialLinks {
  display: flex;
  justify-content: center;

  svg {
    font-size: $f-5;
  }
}
