@import "../../../theme";

.professorRatings {
  color: $cool-gray-8;
  padding: $px-7 0;
}

.rating {
  font-size: $f-3;
  font-weight: 300;
  color: $cool-gray-8;
  line-height: $px-6;
}

.judgements {
  border-left: 2px solid $cool-gray-3;
  padding: $px-5;
  padding-left: $px-5;
}

.percentages {
  div {
    font-size: $f-4;
    line-height: $px-7;
  }
}
.wouldTakeAnother {
  @extend .percentages;
  width: 100%;
  .colored {
    color: $good-4;
  }
}

.wouldRecommend {
  @extend .percentages;
  width: 100%;

  .colored {
    color: $warning-4;
  }
}

.chart {
  margin-left: auto;
}

.reviewCount {
  color: $cool-gray-6;
  padding-left: $px-4;
}

@media (max-width: $lg) {
  .professorRatings {
    padding-left: $px-4;
  }
}

@media (max-width: $md) {
  .judgements {
    border-left: none;
    border-top: 2px solid $cool-gray-3;
  }

  .rating {
    text-align: center;
  }
  /*
  .professorRatings {
    width: $px-14;
  }
  */
}
