@import "../../../theme";

.professorRatings {
  padding: $px-7 15%;
  color: $primary-4;
}

.rating {
  font-size: $f-4;
  font-weight: 400;
  color: $blue-5;
}

.topSection {
  margin: 0 15%;
}

.percentages {
  div {
    font-size: $f-4;
    line-height: $px-7;
  }
}
.wouldTakeAnother {
  @extend .percentages;
  color: $good-4;
}

.wouldRecommend {
  @extend .percentages;
  color: $warning-4;
}
