@import "../../../theme";

.professorRatings {
  color: $primary-4;
  padding: $px-7 0;
}

.rating {
  font-size: $f-4;
  font-weight: 400;
  color: $blue-5;
}

.topSection {
}

.percentages {
  div {
    font-size: $f-4;
    line-height: $px-7;
  }
}
.wouldTakeAnother {
  @extend .percentages;
  color: $good-4;
  width: 70%;
}

.wouldRecommend {
  @extend .percentages;
  color: $warning-4;
  width: 75%;
}

.chart {
  margin-left: auto;
}
