@import "../../../theme.scss";

table {
  border-radius: 10px;
  background: #ffffff;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: $f-2;
  text-align: left;
  margin: 18px;
  line-height: 25px;
  width: 345px;

  .dormName {
    color: $primary-5;
  }
}

td,
th {
  padding: $px-4 $px-6;
}

td {
  color: $cool-gray-8;
}

th {
  font-weight: normal;
  color: #ffffff;
  background: $blue-5;
}
