@import "../../../theme.scss";

.table {
  border-radius: 10px;
  background: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 18px;

  .tableContent {
    font-size: $f-2;
    line-height: 25px;
    padding: 0px $px-4;

    .tableHeader {
      background: $blue-5;
      line-height: 25px;
      color: #ffffff;
      border-radius: 10px 10px 0px 0px;

      .columnTitle {
        padding: $px-4 0px;
      }
    }
  }
}
